/**
 * @name NullHub
 * @author Meta
 * @version 1.0.5
 * @description No way !!!!
 * @source https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css
 * @authorId 1270819450815385631
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css');

:root {
  --background: url('https://i.imgur.com/ZMJ1Scc.png');
  --fluent-guilds-icon-size: 24px;
  --backgroundsize: cover;
  --backgroundposition: center;
  --backgroundblur: 0px;
  --popout: var(--background);
  --popoutsize: var(--backgroundsize);
  --backgroundposition: center;
  --popoutblur: 0px;
  --transparencycolor: 0,0,0;
  --accentcolor: 190,78,180;
  --backdrop: rgba(0,0,0,0.85);
  --textshadow: transparent;
  --transparencyalpha: 0.15;
  --messagetransparency: 0.5;
  --guildchanneltransparency: 0.15;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 200,200,200;
  --textdark: 160,160,160;
  --textdarker: 125,125,125;
  --textdarkest: 90,90,90;
  --settingsicons: 1;
  --backdropsize: var(--background-size);
  --backdropblur: 0px;
  --version1_0_5: none;
  --font-primary: "Segoe UI Variable Text", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
  --font-display: "Segoe UI Variable Display", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Geneva, Arial, sans-serif;
  --font-code: Consolas, Menlo, Monaco, "Courier New", monospace;
}

.theme-dark .guilds_a4d4d9 .listItem_c96c45 .wrapper_c5f96a .icon_f90abb {
  width: var(24px);
  height: auto;
  border-radius: 50%;
}

